input[type=”file”] {
  display: inline-block;
 }
 .table {
  max-width: 90%;
  margin: 10px;
 }
 .table th {
  text-align: center;
 }
 .title {
   left: 200px;
 }

 .App-header {
   margin-left: 600px;
 }
